Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*

soc: use lego_mem_ctl->cmd to dispatch events
  board/soc/core/ctrl.c
  include/fpga/lego_mem_ctrl.h
Labels: none

test: add testbench for legomem read/write
  .gitignore
  host/Makefile
  host/core.h
  host/main_host.c
  host/test/test_read_write.c
Labels: host

soc: impl the pgtable callbacks for legomem alloc/free
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/vm.c
Labels: none

soc/test: add buddy
  board/soc/core/buddy.c
  board/soc/core/core.h
  board/soc/core/test/test_buddy.c
Labels: none

soc/test: add vm test
  board/soc/core/buddy.c
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/pgtable.c
  board/soc/core/test/test_buddy.c
  board/soc/core/test/test_vm.c
  board/soc/core/vm.c
Labels: none

soc: fpga and soc pgtables, freepage list, ctrl polling
  board/fpga/ip.tar.gz
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/page_fifo.c
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/sched.c
  board/soc/core/shadow_pgtable.c
  board/soc/core/test/test_buddy.c
  board/soc/core/test/test_pgtable_access.c
  board/soc/core/vm.c
  host/Makefile
  host/core.h
  host/main_host.c
  host/scripts/test_alloc_free.sh
  host/scripts/test_pte.sh
  host/test/test_alloc.c
  host/test/test_legomem_pte.c
  host/test/test_read_write.c
  include/fpga/lego_mem_ctrl.h
  include/fpga/pgtable.h
  include/uapi/compiler.h
  include/uapi/opcode.h
  include/uapi/opcode_types.h
  include/uapi/sched.h
Labels: host, board_fpga

add fpga memory map header file
  board/soc/core/buddy.c
  include/fpga/fpga_memory_map.h
Labels: none

huge commit
  board/fpga/src/main/scala/wuklab/Axi4ChannelFactory.scala
  board/fpga/src/main/scala/wuklab/AxiStream.scala
  board/fpga/src/main/scala/wuklab/CoreMem.scala
  board/fpga/src/main/scala/wuklab/ExtendedProcessor.scala
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/LegoMemDMA.scala
  board/fpga/src/main/scala/wuklab/LegoMemSystem.scala
  board/fpga/src/main/scala/wuklab/Lookup3.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/NetworkAdapter.scala
  board/fpga/src/main/scala/wuklab/Sequencer.scala
  board/fpga/src/main/scala/wuklab/Simulation.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEngine.scala
  board/fpga/src/main/scala/wuklab/kv/Types.scala
  board/fpga/src/main/scala/wuklab/monitor/MonitorRegisters.scala
  board/fpga/src/main/scala/wuklab/sim/Drivers.scala
  board/fpga/src/main/scala/wuklab/sim/Types.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystemCtrlSim.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystemSim.scala
  board/fpga/src/main/scala/wuklab/test/Simulation.scala
Labels: none

huge commit
  board/fpga/src/main/scala/wuklab/Axi4ChannelFactory.scala
  board/fpga/src/main/scala/wuklab/AxiStream.scala
  board/fpga/src/main/scala/wuklab/CoreMem.scala
  board/fpga/src/main/scala/wuklab/ExtendedProcessor.scala
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/LegoMemDMA.scala
  board/fpga/src/main/scala/wuklab/LegoMemSystem.scala
  board/fpga/src/main/scala/wuklab/Lookup3.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/NetworkAdapter.scala
  board/fpga/src/main/scala/wuklab/Sequencer.scala
  board/fpga/src/main/scala/wuklab/Simulation.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEngine.scala
  board/fpga/src/main/scala/wuklab/kv/Types.scala
  board/fpga/src/main/scala/wuklab/monitor/MonitorRegisters.scala
  board/fpga/src/main/scala/wuklab/sim/Drivers.scala
  board/fpga/src/main/scala/wuklab/sim/Types.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystemCtrlSim.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystemSim.scala
  board/fpga/src/main/scala/wuklab/test/Simulation.scala
Labels: none

soc/fpga: update pgtable and bd
  board/fpga/top/rtl/fpga.v
  board/fpga/top/rtl/fpga_core.v
  board/fpga/top/scripts/legomem_system.tcl
  board/fpga/top/scripts/run_vivado.tcl
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/shadow_pgtable.c
  host/scripts/test_read.sh
  host/test/test_read_write.c
  include/fpga/fpga_memory_map.h
  include/uapi/opcode.h
  include/uapi/sched.h
Labels: none

add make tags
  Makefile
Labels: none

sco: update buddy and pgtable, alloc
  board/soc/core/buddy.c
  board/soc/core/buddy.h
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/shadow_pgtable.c
  board/soc/core/vm.c
  host/api.c
  host/scripts/test_read.sh
  host/test/test_read_write.c
  include/uapi/compiler.h
  include/uapi/net_session.h
  include/uapi/opcode.h
Labels: host

soc: bug fix for free, adjust pte ppa value
  board/soc/core/buddy.c
  board/soc/core/buddy.h
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/shadow_pgtable.c
Labels: none

net: dynamic udp port for host endpoint info
  board/fpga/net_reliable/hls_rx/rx_64_top.cpp
  board/fpga/net_reliable/hls_rx/tb.cpp
  board/fpga/net_reliable/hls_tx/tb.cpp
  board/fpga/net_reliable/hls_tx/tx_64_top.cpp
  board/fpga/net_reliable/state_table/statetable_64_top.cpp
  board/fpga/net_reliable/state_table/tb.cpp
  board/fpga/net_reliable/unacked_buffer/unacked_buffer_top.cpp
  include/uapi/gbn.h
Labels: none

soc: add TLB flush within legomem_free
  board/soc/core/buddy.h
  board/soc/core/handler.c
  board/soc/core/pgtable.c
  host/scripts/test_alloc_free.sh
  include/fpga/fpga_memory_map.h
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: none

net: rebuild ip:port at tx_arbiter
  board/fpga/net_reliable/hls_tx/tx_64_top.cpp
  board/fpga/net_reliable/state_table/statetable_64_top.cpp
  board/fpga/net_reliable/tx_arbiter/arbiter_64_top.cpp
  board/fpga/net_reliable/unacked_buffer/unacked_buffer_top.cpp
Labels: none

soc: add benchmark to test clear_page latency
  board/soc/core/buddy.c
  board/soc/core/buddy.h
  board/soc/core/core.h
  board/soc/core/pgtable.c
  board/soc/core/test/test_clear_page.c
Labels: none

soc: add query stat handlers
  board/soc/core/core.c
Labels: none

soc: update soc bus address map macros
  board/soc/core/buddy.c
  board/soc/core/buddy.h
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/shadow_pgtable.c
  board/soc/core/stat.c
  board/soc/core/test/test_pgtable_access.c
  include/fpga/fpga_memory_map.h
  include/fpga/zynq_regmap.h
Labels: none

update coremem
  board/fpga/src/main/scala/wuklab/CoreMem.scala
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEngine.scala
  board/fpga/src/main/scala/wuklab/kv/Types.scala
  board/fpga/src/main/scala/wuklab/sim/Drivers.scala
  board/fpga/src/main/scala/wuklab/test/CoreMemSim.scala
Labels: none

update coremem
  board/fpga/src/main/scala/wuklab/CoreMem.scala
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEngine.scala
  board/fpga/src/main/scala/wuklab/kv/Types.scala
  board/fpga/src/main/scala/wuklab/sim/Drivers.scala
  board/fpga/src/main/scala/wuklab/test/CoreMemSim.scala
Labels: none

soc: better session mgmt and api for open a client side session with others
  board/soc/core/board.c
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/handler.c
  board/soc/core/session.c
  host/core.h
  host/main_monitor.c
  host/session.c
  include/uapi/net_session.h
  include/uapi/opcode.h
  include/uapi/opcode_types.h
  include/uapi/sched.h
Labels: host

host: patch legomem_read and write
  host/api.c
  host/api.h
  host/core.h
  host/net/raw_verbs.c
  host/scripts/test_read.sh
  host/test/test_read_write.c
Labels: host_net, host

host: let legomem_write use zerocopy to receive
  host/api.c
  host/test/test_read_write.c
Labels: host

header: add tlb.h page.h generic headers
  board/soc/core/buddy.h
  include/uapi/page.h
  include/uapi/tlb.h
Labels: none

update coremem, still need the cache
  board/fpga/src/main/scala/wuklab/CoreMem.scala
  board/fpga/src/main/scala/wuklab/LegoMemSystem.scala
  board/fpga/src/main/scala/wuklab/LookupTable.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/test/CoreMemSim.scala
Labels: none

update coremem, still need the cache
  board/fpga/src/main/scala/wuklab/CoreMem.scala
  board/fpga/src/main/scala/wuklab/LegoMemSystem.scala
  board/fpga/src/main/scala/wuklab/LookupTable.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/test/CoreMemSim.scala
Labels: none

api: legomem_read now supports unlimited size
  host/api.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
Labels: host_net, host

api: legomem_write now supports unlimited size
  host/api.c
  host/main_host.c
Labels: host

update kv store
  .gitmodules
  board/fpga/src/main/scala/wuklab/AxiStream.scala
  board/fpga/src/main/scala/wuklab/AxiStreamDMA.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEndpoint.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEngine.scala
  board/fpga/src/main/scala/wuklab/kv/Types.scala
Labels: none

update kv store
  .gitmodules
  board/fpga/src/main/scala/wuklab/AxiStream.scala
  board/fpga/src/main/scala/wuklab/AxiStreamDMA.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEndpoint.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEngine.scala
  board/fpga/src/main/scala/wuklab/kv/Types.scala
Labels: none

host: adjust raw verbs
  host/net/raw_verbs.c
  host/net/transport_gbn.c
Labels: host_net

host: automically open a session for vregion read/write
  host/api.c
  host/api.h
  host/core.h
  host/test/test_read_write.c
Labels: host

soc: merge all ctrl poll handlers
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/ctrl.c
  board/soc/core/page_fifo.c
  include/fpga/fpga_memory_map.h
  include/fpga/lego_mem_ctrl.h
Labels: none

system: import zhiyuan's latest BD design
  board/fpga/top/scripts/legomem_system.tcl
Labels: none

update build script
  board/fpga/top/scripts/legomem_system.tcl
  board/fpga/top/scripts/run_vivado.tcl
Labels: none

net: encode/parse ip and port using wire logic
  board/fpga/net_reliable/hls_rx/rx_64_top.cpp
  board/fpga/top/rtl/fpga_core.v
Labels: none

net: using dual port bram
  board/fpga/net_reliable/hls_timer/timer_top.cpp
  board/fpga/net_reliable/state_table/statetable_64_top.cpp
  board/fpga/net_reliable/unacked_buffer/unacked_buffer_top.cpp
Labels: none

net: resolve udp stack tx blocking by increasing ACK size
  board/fpga/net_reliable/hls_tx/tx_64_top.cpp
  board/fpga/net_reliable/tx_arbiter/arbiter_64.hpp
  board/fpga/net_reliable/tx_arbiter/arbiter_64_top.cpp
  board/fpga/net_reliable/tx_arbiter/tb.cpp
  board/fpga/top/rtl/tb/tb_tx.sv
Labels: none

net: update build script
  board/fpga/net_reliable/hls_rx/rx_64_top.cpp
  board/fpga/net_reliable/hls_tx/tx_64_top.cpp
  board/fpga/net_reliable/run_vivado.tcl
  board/fpga/net_reliable/state_table/statetable_64_top.cpp
  board/fpga/net_reliable/tx_arbiter/arbiter_64_top.cpp
  board/fpga/net_reliable/unacked_buffer/unacked_buffer_top.cpp
Labels: none
