Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*

Update doc
  Documentation/asplos-ae.md
  Documentation/debug.md
  README.md
Labels: none

Code changes for AE
  board/soc/core/ctrl.c
  host/Makefile
  host/api_kvs.c
  host/config.h
  host/scripts/test_rw_presetup.sh
  host/test/test_rw_presetup.c
Labels: host

Modify the num_processes test
  host/Makefile
  host/api.c
  host/config.h
  host/core.h
  host/main_host.c
  host/net/net.h
  host/net/raw_verbs.c
  host/net/transport_rpc.c
  host/scripts/test_rw_processes.sh
  host/test/test_rw_presetup.c
  host/test/test_rw_processes.c
Labels: host_net, host

Finish rw_presetup and rw_processes
  host/api.c
  host/test/test_rw_presetup.c
  host/test/test_rw_processes.c
Labels: host

Update asplos-ae
  Documentation/asplos-ae.md
Labels: none

Update asplos-ae
  Documentation/asplos-ae.md
Labels: none

Update the rw_threadas test
  host/Makefile
  host/core.h
  host/main_host.c
  host/net/raw_verbs.c
  host/scripts/test_rw_threads.sh
  host/test/test_rw_presetup.c
  host/test/test_rw_threads.c
Labels: host_net, host

Update asplos-ae
  Documentation/asplos-ae.md
Labels: none

Update asplos-ae
  Documentation/asplos-ae.md
Labels: none

Update asplos-ae
  Documentation/asplos-ae.md
  Documentation/testbed.png
Labels: none

Update rw_pte_mr
  board/soc/core/ctrl.c
  host/Makefile
  host/core.h
  host/main_host.c
  host/scripts/test_rw_pte_mr.sh
  host/test/test_rw_pte_mr.c
Labels: host

Update asplos-ae
  Documentation/asplos-ae.md
  Documentation/compile.md
Labels: none

Update doc
  Documentation/compile.md
Labels: none

Update repo layouts
  Documentation/compile.md
  Documentation/repo-org-fpga.png
  Documentation/repo-org-host.png
  Documentation/repo-org.png
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update compile.md
  Documentation/compile.md
Labels: none

Update images
  Documentation/repo-org-fpga.png
  Documentation/repo-org-host.png
Labels: none

Update README.md
  README.md
Labels: none

fpga build: add phony targets
  board/fpga/Makefile
Labels: board_fpga

Update README
  Documentation/asplos-ae.md
  Documentation/compile.md
  Makefile
  README.md
Labels: none

fpga build: vivado top run syth, impl, bitstream in script
  board/fpga/top/scripts/run_vivado.tcl
Labels: none

Update compile to reflect vivado tcl change
  Documentation/compile.md
Labels: none

Update asplosae inst
  Documentation/asplos-ae.md
  Documentation/testbed2.png
Labels: none

Update asplosae inst
  Documentation/asplos-ae.md
Labels: none

Update asplos-ae.md
  Documentation/asplos-ae.md
Labels: none

Update asplos-ae.md
  Documentation/asplos-ae.md
Labels: none

Tune mte parameter, adjust BW cal to use 1024 instead of 1000
  host/api.c
  host/test/test_rw_threads.c
Labels: host

Update asplos-ae
  Documentation/asplos-ae.md
Labels: none

Add files via upload
  Documentation/arch.png
Labels: none

Update README.md
  README.md
Labels: none

Create LICENSE
  LICENSE
Labels: none

Create LICENSE
  LICENSE
Labels: none

Update README.md
  README.md
Labels: none
