Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*

host/monitor: serialize the join cluster process
  host/api.c
  host/board.c
  host/core.h
  host/main_monitor.c
  host/mgmt.c
  host/test_session.c
  include/uapi/compiler.h
  include/uapi/opcode.h
Labels: host

net: reduce rx module latency
  board/fpga/net_stack/hls_rx/rx_64_top.cpp
  board/fpga/net_stack/rtl/tb/tb_rt.sv
  include/fpga/axis_net.h
Labels: none

Use port+ip to find a session
  host/api.c
  host/core.h
  host/mgmt.c
  host/net/transport_gbn.c
  host/session.c
  include/uapi/net_session.h
Labels: host_net, host

migration: add host side sender
  board/soc/core/core.c
  host/api.c
  include/uapi/opcode.h
Labels: host

net: update software testbench
  board/fpga/net_stack/test_onboard.c
  include/fpga/rel_net.h
  include/uapi/net_header.h
Labels: none

initial migration control code
  board/soc/core/core.c
  host/api.c
  host/main_monitor.c
  include/uapi/opcode.h
Labels: host

migration/host: update vregion
  host/Makefile
  host/api.c
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/test_migration.c
Labels: host

migration/monitor: add notification part
  board/soc/core/core.c
  host/main_monitor.c
  include/uapi/opcode.h
Labels: host

net: Add comments and rename macros
  board/fpga/net_stack/README.md
  board/fpga/net_stack/dummy_setup/dummy_setup.cpp
  board/fpga/net_stack/hls_rx/rx_64.hpp
  board/fpga/net_stack/hls_rx/tb.cpp
  board/fpga/net_stack/hls_timer/tb.cpp
  board/fpga/net_stack/hls_timer/timer.hpp
  board/fpga/net_stack/hls_timer/timer_top.cpp
  board/fpga/net_stack/hls_tx/tx_64.hpp
  board/fpga/net_stack/hls_tx/tx_64_top.cpp
  board/fpga/net_stack/setup_manager/setup_manager.hpp
  board/fpga/net_stack/setup_manager/setup_manager_top.cpp
  board/fpga/net_stack/state_table/statetable_64.hpp
  board/fpga/net_stack/state_table/statetable_64_top.cpp
  board/fpga/net_stack/state_table/tb.cpp
  board/fpga/net_stack/test_onboard.c
  board/fpga/net_stack/tx_arbiter/arbiter_64.hpp
  board/fpga/net_stack/tx_arbiter/tb.cpp
  board/fpga/net_stack/unacked_buffer/tb.cpp
  board/fpga/net_stack/unacked_buffer/unacked_buffer.hpp
  board/fpga/net_stack/unacked_buffer/unacked_buffer_top.cpp
  include/fpga/axis_internal.h
  include/uapi/gbn.h
  include/uapi/net_header.h
  include/uapi/net_session.h
Labels: none

host/monitor: fix bug in create/free context
  host/api.c
  host/context.c
  host/core.h
  host/main_monitor.c
  include/uapi/sched.h
Labels: host

test: manually add a board for testing
  host/Makefile
  host/api.c
  host/board.c
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/mgmt.c
  host/session.c
  host/test.sh
  host/test_board.c
Labels: host

net: remove legacy endpoint.h
  host/endpoint.h
  host/main_host.c
  host/main_monitor.c
Labels: host

add document line
  host/README.md
Labels: host

net: Filter broadcast packet
  board/fpga/net_stack/hls_tx/tx_64_top.cpp
  board/fpga/net_stack/state_table/statetable_64_top.cpp
Labels: none

net: make get_mac_of_remote_ip able to handle local dev ip
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/mgmt.c
  host/util.c
Labels: host

net: Add more explanation in comments Add checking session status at RX datapath
  board/fpga/net_stack/hls_timer/timer_top.cpp
  board/fpga/net_stack/run_vivado.tcl
  board/fpga/net_stack/setup_manager/setup_manager.hpp
  board/fpga/net_stack/setup_manager/setup_manager_top.cpp
  board/fpga/net_stack/state_table/statetable_64.hpp
  board/fpga/net_stack/state_table/statetable_64_top.cpp
  board/fpga/net_stack/unacked_buffer/README.md
  board/fpga/net_stack/unacked_buffer/unacked_buffer_top.cpp
  include/uapi/gbn.h
Labels: none

header: fix redefined GNU_SOURCE for HLS usage
  include/uapi/compiler.h
Labels: none

net: Remove test ip from vivado project
  board/fpga/net_stack/rtl/ip/dummy_setup_inst.xci
  board/fpga/net_stack/run_vivado.tcl
Labels: none

Update migration comment
  host/api.c
  host/main_monitor.c
Labels: host

net: Temporarily remove checking if ses is valid Due to implementation error in vivado. Try to fix it later.
  board/fpga/net_stack/dummy_setup/dummy_setup.cpp
  board/fpga/net_stack/rtl/tb/tb_intg.sv
  board/fpga/net_stack/state_table/statetable_64_top.cpp
Labels: none

host_net: Tested with host network stack
  host/Makefile
  host/main_host.c
  host/net/transport_gbn.c
  host/test.c
  host/test.sh
  host/test_board.c
  include/uapi/net_header.h
  include/uapi/opcode.h
Labels: host_net, host

host_net: Tested sending from fpga to host
  board/fpga/net_stack/state_table/statetable_64_top.cpp
  host/main_host.c
  host/net/transport_gbn.c
  host/test_board.c
  include/uapi/net_header.h
Labels: host_net, host

host_net: Use POSIX timer
  host/Makefile
  host/net/transport_gbn.c
Labels: host_net, host

host_net: Unify host ses_id representaion with board
  host/net/transport_gbn.c
  include/uapi/net_header.h
Labels: host_net

net: Optimize logic in state table
  board/fpga/net_stack/dummy_setup/dummy_setup.cpp
  board/fpga/net_stack/state_table/statetable_64_top.cpp
  host/main_host.c
Labels: host

net: Change dram interface addr witdh to 40bit
  board/fpga/net_stack/run_vivado.tcl
  board/fpga/net_stack/unacked_buffer/unacked_buffer.hpp
  include/uapi/gbn.h
Labels: none

net: Modify macro representation in src code
  board/fpga/net_stack/hls_rx/rx_64_top.cpp
  board/fpga/net_stack/hls_rx/tb.cpp
  board/fpga/net_stack/hls_tx/tb.cpp
  board/fpga/net_stack/hls_tx/tx_64_top.cpp
  board/fpga/net_stack/state_table/statetable_64_top.cpp
  board/fpga/net_stack/state_table/tb.cpp
  board/fpga/net_stack/unacked_buffer/tb.cpp
  include/uapi/gbn.h
Labels: none

Update on variable and macro
  board/fpga/net_stack/test_onboard.c
  host/net/core.c
  host/net/transport_gbn.c
  include/uapi/gbn.h
  include/uapi/net_header.h
Labels: host_net

soc : add recv example, fix lookup3 header file
  board/soc/examples/legomem_recv/src/legomem_recv.c
  include/fpga/lookup3.h
Labels: none

soc: add legomem apis
  board/soc/examples/legomem_send/src/lego_mem_send.c
  board/soc/examples/legomem_send/src/libaxidma.c
  include/fpga/lego_mem_ctrl.h
  include/fpga/lookup3.h
  include/uapi/lego_mem.h
Labels: none

misc: port libdma and add callback for init_thpool_buffer
  board/soc/core/Makefile
  board/soc/core/axidma_ioctl.h
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/dma.c
  board/soc/core/dma.h
  board/soc/core/libaxidma.h
  host/main_board.c
  host/main_monitor.c
  host/mgmt.c
  include/uapi/compiler.h
  include/uapi/opcode.h
  include/uapi/stringify.h
  include/uapi/thpool.h
Labels: host

api: merge headers
  board/soc/examples/legomem_recv/src/legomem_recv.c
  board/soc/examples/legomem_send/src/lego_mem_send.c
  include/uapi/lego_mem.h
  include/uapi/net_header.h
  include/uapi/opcode.h
Labels: none

soc: remove unused node property in proc hashtable
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/libaxidma.c
  board/soc/core/sched.c
  board/soc/core/vm.c
Labels: none

generic: add --net_raw_ops to choose raw net layer
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/net/core.c
  host/net/raw_udp_socket.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/util.c
  include/uapi/net_session.h
Labels: host_net, host

soc: patch handlers, based on the current axidma interface
  board/soc/core/core.c
  include/uapi/opcode.h
Labels: none

net: check max_inline during verbs send
  host/net/raw_verbs.c
Labels: host_net

monitor: create daemon thread to query stats and run migration
  host/main_host.c
  host/main_monitor.c
  include/uapi/opcode.h
Labels: host

host: adjust test cases
  host/main_host.c
Labels: host

test: move tesh.sh into test/test_board.sh
  host/test/test_board.sh
Labels: none

test: add pingpong and raw_net tests
  board/soc/core/core.c
  board/soc/core/sched.c
  host/Makefile
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/mgmt.c
  host/net/raw_udp_socket.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/test_raw_net.c
  include/uapi/net_session.h
  include/uapi/opcode.h
Labels: host_net, host
