Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

general: add option to choose transport layer op
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/net/core.c
  host/test_raw_net.c
Labels: host_net, host

test: add test_raw_net shell script
  host/test/test_raw_net.sh
Labels: none

net: update todo list in verbs
  host/net/raw_verbs.c
Labels: host_net

host: fix bug in manually_add_new_node, thpool changed
  host/main_host.c
Labels: host

header: remove -#ifndef always_inline
  include/uapi/compiler.h
Labels: none

host: move mgmt.c into main_host.c
  host/Makefile
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/mgmt.c
  host/test_raw_net.c
  host/util.c
Labels: host

general: add stat request, handler and code
  host/Makefile
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/stat.h
  include/uapi/opcode.h
  include/uapi/sched.h
  include/uapi/stat.h
Labels: host

header: adjust opcode header file, make a generic one
  board/fpga/net_stack/dummy_setup/dummy_setup.cpp
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: none

soc: remove libaxidma example files
  board/soc/examples/legomem_recv/src/legomem_recv.c
  board/soc/examples/legomem_send/src/lego_mem_send.c
  board/soc/examples/legomem_send/src/libaxidma.c
Labels: none

soc: Add ops to notify gbn setup_manager
  board/soc/core/core.c
  board/soc/core/dma.h
  include/fpga/axis_internal.h
  include/uapi/gbn.h
  include/uapi/net_header.h
Labels: none

gbn: update enum conn_set_type name to make it more cathy
  board/fpga/net_stack/dummy_setup/dummy_setup.cpp
  board/fpga/net_stack/rtl/tb/tb_intg.sv
  board/fpga/net_stack/rtl/tb/tb_rt.sv
  board/fpga/net_stack/setup_manager/setup_manager_top.cpp
  board/fpga/net_stack/state_table/statetable_64_top.cpp
  board/soc/core/core.c
  include/uapi/gbn.h
  include/uapi/net_header.h
Labels: none

header: move some code to opcode.h
  board/fpga/net_stack/setup_manager/setup_manager_top.cpp
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: none

host: update lego header runtime information
  host/test_raw_net.c
  include/uapi/net_header.h
Labels: host

header: add generic bitops so code can run on ARM SoC
  board/soc/core/Makefile
  board/soc/core/session.c
  host/Makefile
  host/session.c
  include/uapi/bitops.h
  include/uapi/bitops_asm_generic.h
  include/uapi/bitops_x86.h
  include/uapi/compiler.h
  include/uapi/net_header.h
Labels: host

net: query mtu value during program startup
  host/core.h
  host/net/core.c
  host/util.c
Labels: host_net, host

soc: send req to FPGA to migrate data
  board/soc/core/core.c
  include/uapi/sched.h
Labels: none

soc: migration handler should use dma_send instead of dma_ctrl_sned
  board/soc/core/core.c
Labels: none

net: add reg mem
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/net/raw_verbs.c
  host/net/transport_bypass.c
  host/net/transport_gbn.c
  host/test_board.c
  include/uapi/net_session.h
Labels: host_net, host

verbs: add a flag to signal
  host/net/raw_verbs.c
Labels: host_net

net: more tests
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/net/net.h
  host/net/raw_socket.c
  host/net/raw_udp_socket.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/test_board.c
  host/test_raw_net.c
  include/uapi/compiler.h
Labels: host_net, host

gbn: bug fix, init sigevent
  host/net/transport_gbn.c
Labels: host_net

general: fix compiler warn
  host/Makefile
  host/net/transport_gbn.c
Labels: host_net, host

net: update test script
  host/net/transport_gbn.c
  host/scripts/test_board.sh
  host/scripts/test_raw_net.sh
  host/test_board.c
Labels: host_net, host

test: update test
  host/net/transport_gbn.c
  host/test_board.c
Labels: host_net, host

net: improve session_net impl to use array
  host/api.c
  host/core.h
  host/net/core.c
  host/scripts/test_board.sh
  host/session.c
  host/test_board.c
  include/uapi/net_session.h
Labels: host_net, host

net: bug fix
  host/api.c
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/net/transport_gbn.c
  host/session.c
  host/test_board.c
  host/util.c
Labels: host_net, host

net: improve gbn stack by reform list to ring buffer
  host/net/transport_gbn.c
Labels: host_net

net: raw verbs use non-signal by default
  host/net/raw_verbs.c
Labels: host_net

add profile points for eval
  host/Makefile
  host/pp.c
  host/test_board.c
  include/uapi/profile_point.h
Labels: host

test: for close and open context
  host/Makefile
  host/api.c
  host/core.h
  host/main_host.c
  host/test_context.c
Labels: host

moinitor: disable default print for close/open context
  host/main_monitor.c
  include/uapi/sched.h
Labels: host

net: better dump
  host/main_host.c
  host/main_monitor.c
  host/net/core.c
  host/net/transport_gbn.c
Labels: host_net, host

Update session test bench
  host/main_host.c
  host/test_session.c
Labels: host

monitor: add the open/close part
  host/core.h
  host/main_monitor.c
Labels: host

net: add zerocopy net api
  host/main_monitor.c
  host/net/core.c
  host/net/net.h
  host/net/transport_bypass.c
  host/net/transport_gbn.c
  include/uapi/net_session.h
  include/uapi/thpool.h
Labels: host_net, host

host: use zerocopy in dispatcher polling
  host/main_host.c
  host/net/raw_verbs.c
Labels: host_net, host

api: fix legomem_alloc and per-vregion session hashtable
  host/Makefile
  host/api.c
  host/context.c
  host/core.h
  host/main_host.c
  host/pp.c
  host/test_alloc.c
  host/test_session.c
  include/uapi/net_session.h
  include/uapi/sched.h
Labels: host

generic: add some debugging code
  host/api.c
  host/core.h
  host/main_host.c
Labels: host

generic: move proc/vregion init code to header
  board/soc/core/sched.c
  board/soc/core/vm.c
  host/main_monitor.c
  include/uapi/sched.h
Labels: host

small fixes
  host/api.c
  host/context.c
  host/core.h
  host/main_host.c
  host/test_alloc.c
  host/test_session.c
Labels: host

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*
