Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*

host: change board hashtable to use rwlock instead of spinlock
  board/soc/core/sched.c
  host/board.c
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  include/uapi/compiler.h
Labels: host

host: add __constructor, make locks cacheline aligned
  host/context.c
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/session.c
Labels: host

net: add receive zerocopy+non_blocking api
  board/soc/core/core.h
  board/soc/core/handler.c
  board/soc/core/sched.c
  host/api.c
  host/common.c
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/net/transport_bypass.c
  host/net/transport_gbn.c
  host/scripts/test_migration.sh
  include/uapi/net_session.h
Labels: host_net, host

net: patch lego_header->size field
  host/net/transport_gbn.c
  include/uapi/net_header.h
Labels: host_net

general: update to the latest opcode
  host/core.h
  include/uapi/opcode_types.h
Labels: host

gbn: add CONFIG_GBN_ENABLE_TIMER macro
  host/net/transport_gbn.c
Labels: host_net

Port some soc code from relnet_soc branch
  board/soc/core/Makefile
  board/soc/core/core.c
  board/soc/core/dma.c
  board/soc/core/handler.c
  include/uapi/thpool.h
Labels: none

soc: fix pointer cast issues in soc handlers
  board/soc/core/core.c
Labels: none

soc: Fix axi dma transaction problem
  board/fpga/net_reliable/test_onboard.c
  board/soc/core/core.c
  host/api.c
  include/uapi/opcode.h
  include/uapi/opcode_types.h
  include/uapi/thpool.h
Labels: host

net: Handle source ip for tx at udp layer
  board/fpga/net_reliable/hls_tx/tx_64_top.cpp
  board/fpga/net_reliable/state_table/statetable_64_top.cpp
  board/fpga/net_reliable/unacked_buffer/unacked_buffer_top.cpp
  include/fpga/axis_internal.h
Labels: none

net: Improvment on tx data path
  board/fpga/net_reliable/hls_tx/tx_64_top.cpp
  board/fpga/net_reliable/run_vivado.tcl
  board/fpga/net_reliable/unacked_buffer/unacked_buffer_top.cpp
  include/uapi/gbn.h
Labels: none

soc: Update based on current change
  board/soc/core/core.c
  host/Makefile
  host/core.h
  host/test_session.c
  host/test_soc.c
  include/uapi/opcode_types.h
Labels: host

net: Fix logic incompletion in state_table Add probe interface
  board/fpga/net_reliable/hls_rx/rx_64_top.cpp
  board/fpga/net_reliable/hls_tx/tx_64_top.cpp
  board/fpga/net_reliable/state_table/statetable_64_top.cpp
  board/fpga/net_reliable/unacked_buffer/run_hls.tcl
  board/fpga/net_reliable/unacked_buffer/tb.cpp
  include/uapi/opcode_types.h
Labels: none

host: modify testbench to test with board
  host/core.h
  host/main_host.c
  host/test/test_rel_net_normal.c
  host/test_soc.c
Labels: host

Fix rebase mistakes
  board/soc/core/core.c
  host/Makefile
  host/core.h
  host/test/test_soc.c
  host/test_session.c
  include/uapi/opcode_types.h
  include/uapi/thpool.h
Labels: host

tiny fixes in netstack and tb
  board/fpga/net_reliable/unacked_buffer/run_hls.tcl
  host/main_host.c
  include/uapi/opcode_types.h
Labels: host

build: update soc and host Makefile to include rdynamic
  board/soc/core/Makefile
  host/Makefile
Labels: host

soc/core: tuning the debug msg
  board/soc/core/core.c
Labels: none

use arping to get mac addr
  host/util.c
Labels: host

test: add command line parse options
  board/soc/core/core.c
  board/soc/core/handler.c
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/net/transport_gbn.c
  host/scripts/test_alloc_free.sh
  host/scripts/test_board.sh
  host/scripts/test_rel_net_normal.sh
  host/scripts/test_session.sh
  host/test/test_alloc.c
  host/test/test_context.c
  host/test/test_migration.c
  host/test/test_rel_net_mgmt.c
  host/test/test_rel_net_normal.c
  host/test/test_session.c
  host/util.c
Labels: host_net, host

soc: add multithreaded thpool workers
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/dma.c
  board/soc/core/dma.h
  board/soc/core/util.c
  include/uapi/thpool.h
Labels: none

test: some small knobs
  board/soc/core/core.c
  board/soc/core/core.h
  host/main_monitor.c
  host/net/transport_gbn.c
  host/scripts/test_alloc_free.sh
  host/test/test_alloc.c
Labels: host_net, host

test: add soc pingpong rtt test
  board/soc/core/core.c
  host/Makefile
  host/core.h
  host/main_host.c
  host/scripts/test_pingpong_soc.sh
  host/test/test_pingpong_soc.c
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: host

update udp stack rtl
  board/fpga/top/rtl/fpga_core.v
Labels: none

soc: add make_cont for all handlers
  board/soc/core/core.c
  host/api.c
  host/main_monitor.c
Labels: host

test: some fix for migration bench
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/external.h
  host/api.c
  host/board_emulator/external.h
  host/core.h
  host/main_board.c
  host/main_monitor.c
  host/rsrync.sh
  host/scripts/test_migration.sh
  host/test/test_migration.c
Labels: host

copy /data/src code here.
  board/fpga/top/rtl/fpga.v
  board/fpga/top/rtl/fpga_core.v
  board/fpga/top/scripts/bd_legomem.tcl
Labels: none

soc: add zynq regmap header
  board/soc/core/core.c
  board/soc/core/core.h
  include/fpga/zynq_regmap.h
Labels: none

revert the dynamic IP code, not working
  board/fpga/top/rtl/fpga.v
  board/fpga/top/rtl/fpga_core.v
  board/fpga/top/scripts/bd_legomem.tcl
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/handler.c
  board/soc/core/util.c
  include/fpga/zynq_regmap.h
Labels: none

api: change alloc/free to use normal sessions
  board/soc/core/core.c
  host/api.c
  host/scripts/test_alloc_free.sh
  host/test/test_alloc.c
Labels: host

api: modify monitor/host to use list-based vRegion search api: optimize alloc/free vRegion search
  host/api.c
  host/core.h
  host/main_monitor.c
  include/uapi/sched.h
Labels: host

soc: add fpga dram buddy allocator
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/page_alloc.c
  board/soc/core/page_alloc.h
  board/soc/core/util.c
  host/Makefile
  host/common.c
  host/core.h
  host/main_host.c
  host/net/transport_gbn.c
  host/test/test_alloc.c
  host/test/test_pingpong_soc.c
  host/test/test_raw_net.c
  host/test/test_rel_net_mgmt.c
  host/test/test_rel_net_normal.c
  include/uapi/list.h
Labels: host_net, host

legomem_alloc: stop scanning vregion array at some point
  host/api.c
  host/board_emulator/page_alloc.h
  host/scripts/test_alloc_free.sh
  host/test/test_alloc.c
Labels: host

soc: prepare to hook alloc/free with pgtable
  board/soc/core/core.h
  board/soc/core/page_alloc.c
  board/soc/core/page_alloc.h
  board/soc/core/pgtable.c
  board/soc/core/vm.c
Labels: none

soc: add free page list FIFO polling thread
  board/soc/core/Makefile
  board/soc/core/buddy.c
  board/soc/core/buddy.h
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/page_fifo.c
  board/soc/core/test/test_buddy.c
  host/board_emulator/buddy.h
  host/board_emulator/page_alloc.h
Labels: none

soc: add setup pgtable during proc creation
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/sched.c
  host/Makefile
  host/board_emulator/buddy.c
  host/board_emulator/pgtable.c
  host/board_emulator/pgtable.h
Labels: host

soc: add freepage list polling thread
  board/soc/core/buddy.c
  board/soc/core/buddy.h
  board/soc/core/core.c
  board/soc/core/dma.c
  board/soc/core/dma.h
  board/soc/core/page_fifo.c
Labels: none

soc: fix typo from private to addr
  board/soc/core/page_fifo.c
Labels: none

soc: add more ctrl handlers, /dev/mem open
  board/soc/core/core.c
  board/soc/core/ctrl.c
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  host/main_monitor.c
  include/uapi/sched.h
Labels: host

soc: service handlers for extend modules
  board/soc/core/ctrl.c
  board/soc/core/page_fifo.c
  include/uapi/sched.h
Labels: none
