Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*

api: update legomem_write
  host/api.c
  host/test_alloc.c
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: host

update
  host/Makefile
  host/common.c
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/test_raw_net.c
  include/uapi/opcode.h
Labels: host

monitor: add back the non-zerocopy dispatcher
  host/main_monitor.c
Labels: host

verbs: adjust signaling
  host/net/raw_verbs.c
Labels: host_net

test: update raw_net bench
  host/test_raw_net.c
Labels: host

test: bench for session 0
  host/Makefile
  host/core.h
  host/main_host.c
  host/scripts/test_rel_net.sh
  host/test_raw_net.c
  host/test_rel_net.c
Labels: host

test: add test for normal rel session
  host/Makefile
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/scripts/test_rel_net_normal.sh
  host/session.c
  host/test_raw_net.c
  host/test_rel_net_mgmt.c
  host/test_rel_net_normal.c
Labels: host_net, host

test: fix test_rel_net_normal
  host/core.h
  host/test_rel_net_normal.c
Labels: host

net: add reg/dereg msgbuf interface
  host/net/raw_socket.c
  host/net/raw_udp_socket.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  include/uapi/compiler.h
  include/uapi/net_session.h
Labels: host_net

net: add raw_net_send_msg_bug, and change gbn to use it
  host/net/core.c
  host/net/raw_socket.c
  host/net/raw_udp_socket.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  include/uapi/net_session.h
Labels: host_net

net: add more stats and watchdog thread
  host/Makefile
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/net/transport_gbn.c
  host/watchdog.c
  include/uapi/stat.h
Labels: host_net, host

test: tweak rel net bench
  host/core.h
  host/test_rel_net_normal.c
Labels: host

host: move stat/watchdog configs to Makefile
  host/Makefile
  host/stat.h
  host/watchdog.c
Labels: host

gbn: fix inc_stat typo
  host/net/transport_gbn.c
  host/scripts/test_rel_net_mgmt.sh
Labels: host_net

stat: add more host side raw_verbs stat
  host/main_host.c
  host/net/raw_verbs.c
  include/uapi/stat.h
Labels: host_net, host

bug fix
  host/net/raw_verbs.c
  host/test_rel_net_mgmt.c
Labels: host_net, host

util: add pin cpu
  host/core.h
  host/net/transport_gbn.c
  host/test_rel_net_mgmt.c
  host/util.c
Labels: host_net, host

net: add common user session handler
  host/api.c
  host/common.c
  host/core.h
  host/main_host.c
  host/test_rel_net_mgmt.c
  host/test_rel_net_normal.c
  include/uapi/net_session.h
Labels: host

net: add should stop check for session thread
  host/api.c
  host/common.c
  host/scripts/test_rel_net_mgmt.sh
  host/scripts/test_rel_net_normal.sh
  include/uapi/net_session.h
Labels: host

host: various fixes
  host/common.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
Labels: host_net, host

test: tune the nomal gbn session test code
  host/test_rel_net_normal.c
Labels: host

net: let bypass use zerocopy
  host/net/transport_bypass.c
Labels: host_net

test: let raw net test go multithreading
  host/test_raw_net.c
Labels: host

generic: make debugg info left-aligned
  host/board.c
  host/context.c
  host/pp.c
  host/session.c
  host/stat.h
Labels: host

test: patch multithread alloc/free bench
  host/test_alloc.c
Labels: host

net: batched poll send_q
  host/net/raw_verbs.c
Labels: host_net

verbs: update comments about unsignaled completion
  host/net/raw_verbs.c
Labels: host_net

net: fix ibv_poll_cq typo
  host/net/raw_verbs.c
  host/net/transport_gbn.c
Labels: host_net

gbn/host: disable timer wheel at host stack
  host/net/transport_gbn.c
Labels: host_net

net: make net_reg_send_buf default to be successful
  include/uapi/net_session.h
Labels: none

net: board: add LOOPBACK_UDP and LOOPBACK_RELIABLE paramters
  board/fpga/net_stack/rtl/fpga.v
  board/fpga/net_stack/rtl/fpga_core.v
Labels: none

host: add flag infra to legomem vregion
  host/api.c
  host/core.h
Labels: host

host: patch legomem_migration
  host/api.c
  host/core.h
  include/uapi/stat.h
Labels: host

host: merge duplicated handlers
  host/common.c
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/scripts/test_migration.sh
  host/util.c
Labels: host

host: minor adjustment
  host/api.c
  host/board.c
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/test_migration.c
Labels: host

board_emulator: some patches
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/handler.c
  board/soc/core/sched.c
  board/soc/core/session.c
  host/Makefile
  host/api.c
  host/board_emulator/core.h
  host/board_emulator/handler.c
  host/board_emulator/rbtree.c
  host/board_emulator/sched.c
  host/board_emulator/vm.c
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/test_migration.c
Labels: host

test: move into its own folder
  host/Makefile
  host/test/test_alloc.c
  host/test/test_board.c
  host/test/test_context.c
  host/test/test_migration.c
  host/test/test_raw_net.c
  host/test/test_rel_net_mgmt.c
  host/test/test_rel_net_normal.c
  host/test/test_session.c
Labels: host

host: improve multi-thread safety, patch alloc/free
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/handler.c
  board/soc/core/vm.c
  host/api.c
  host/common.c
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/scripts/test_migration.sh
  host/session.c
  host/test/test_alloc.c
  host/test/test_migration.c
  include/uapi/net_session.h
  include/uapi/sched.h
Labels: host

host: add ptr_chasing read/write APIs
  host/api.c
Labels: host

host: tested migration flow
  board/soc/core/handler.c
  host/api.c
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/scripts/test_migration.sh
  host/test/test_migration.c
  host/util.c
  include/uapi/net_session.h
  include/uapi/opcode.h
Labels: host
