Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

update new network stack and dataframe
  board/fpga/src/main/scala/wuklab/ExtendedApi.scala
  board/fpga/src/main/scala/wuklab/HelperModules.scala
  board/fpga/src/main/scala/wuklab/NetworkAdapter.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/test/DataFrameEndpointSim.scala
Labels: none

update fpga build
  board/fpga/Makefile
  board/fpga/net_reliable/run_vivado.tcl
  board/fpga/src/lib/verilog/legomem_system_lib.v
  board/fpga/src/main/scala/wuklab/NetworkAdapter.scala
  dma_patch.9c71c6e9f827635a82bb4adc9f4c39a7d172478.diff
Labels: board_fpga

Update scripts
  board/fpga/Makefile
  board/fpga/scripts/create_system.tcl
  board/fpga/top/Makefile
  board/fpga/top/scripts/legomem_system_release.tcl
Labels: board_fpga

Fix vivado script packet ip error
  board/fpga/Makefile
  board/fpga/scripts/create_ip.tcl
  board/fpga/scripts/create_monitor.tcl
  board/fpga/scripts/create_pingpong.tcl
  board/fpga/scripts/create_system.tcl
Labels: board_fpga

Fix broken build flow
  board/fpga/Makefile
  board/fpga/net_reliable/Makefile
  board/fpga/scripts/create_monitor_read.tcl
  board/fpga/scripts/create_monitor_write.tcl
  board/fpga/src/lib/verilog/MonitorRegistersRead.v
  board/fpga/src/lib/verilog/MonitorRegistersWrite.v
  board/fpga/top/scripts/legomem_system_no_relnet.tcl
Labels: board_fpga

Add comment
  board/fpga/top/rtl/fpga_core.v
Labels: none

sbt: remove the sbt version constraint
  board/fpga/.gitignore
  board/fpga/Makefile
  board/fpga/project/build.properties
  board/fpga/project/plugins.sbt
Labels: board_fpga

Update Makefile help
  board/fpga/Makefile
Labels: board_fpga

Unify the Vivado path to 2019.1
  board/fpga/Makefile
  board/fpga/Makefile.mk
  board/fpga/net_reliable/Makefile
  board/fpga/top/Makefile
Labels: board_fpga

Change BD version number to 2019.1
  board/fpga/top/scripts/legomem_system_no_relnet.tcl
  board/fpga/top/scripts/legomem_system_release.tcl
Labels: none

Update the BD
  board/fpga/Makefile.mk
  board/fpga/top/Makefile
  board/fpga/top/scripts/run_vivado.tcl
Labels: board_fpga

Fix bufferover flow issue while using sscanf
  host/Makefile
  host/board.c
  host/config.h
  host/scripts/test_rw_presetup.sh
  host/session.c
  host/test/test_rw_presetup.c
  host/util.c
Labels: host

Fix soc compile issues
  board/soc/core/Makefile
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/ctrl.c
  board/soc/core/run.sh
  board/soc/core/shadow_pgtable.c
  include/fpga/lookup3.h
Labels: none

Upload KVS Virtual BD
  Makefile
  board/fpga/Makefile
  board/fpga/top/scripts/legomem_system_kv_virtual.tcl
  host/api_kvs.c
Labels: host, board_fpga

SuperNIC HACK: eth_type from 0800 to A003
  board/fpga/top/lib/ip_64.v
  board/fpga/top/lib/ip_complete_64.v
Labels: none

Do not generate the 512b version
  board/fpga/Makefile
  board/fpga/src/main/scala/wuklab/Generate.scala
Labels: board_fpga

ip_64.v: on the TX path, use the same MAC addr
  board/fpga/top/lib/ip_64.v
Labels: none

Fix soc core for KVS testing
  board/soc/core/core.h
  board/soc/core/ctrl.c
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/vm.c
Labels: none

Fix bug
  board/fpga/top/lib/ip_64.v
  board/fpga/top/lib/udp_complete_64.v
  board/fpga/top/rtl/fpga_core.v
Labels: none

Some changes made to make KVS work
  host/config.h
  host/net/core.c
  host/net/net.h
  host/net/raw_verbs.c
  host/scripts/test_kvs_simple.sh
  host/scripts/test_rw_presetup.sh
  host/scripts/test_ycsb.sh
  host/test/test_kvs_simple.c
  host/test/test_kvs_ycsb.c
  host/test/test_rw_presetup.c
  include/uapi/net_header.h
Labels: host_net, host

Add KVS Caching related changes
  host/api_kvs.c
  host/test/test_kvs_simple.c
  host/test/test_kvs_ycsb.c
  include/uapi/net_header.h
Labels: host

benchmark for ycsb kvs
  host/Makefile
  host/main_host.c
  host/net/raw_verbs.c
  host/scripts/test_rel_net_mgmt.sh
  host/test/test_snic.c
  host/util.c
Labels: host_net, host

Add docs
  Documentation/asplos-ae.md
  Documentation/compile.md
  Documentation/index.md
  Documentation/run.md
Labels: none

Update README
  Documentation/index.md
  README.md
Labels: none

Update README
  Documentation/asplos-ae.md
  README.md
  dma_patch.9c71c6e9f827635a82bb4adc9f4c39a7d172478.diff
  legomem_system.pdf
Labels: none

tests: add launch scripts, add first instruction
  Documentation/run.md
  tests/scripts/activate
  tests/scripts/clio-reconfig
  tests/scripts/clio-test
Labels: none

Update ASPLOS AE
  Documentation/asplos-ae.md
Labels: none

Update Compile
  Documentation/compile.md
  Documentation/vivado-screenshot.png
Labels: none

Update Compile
  Documentation/compile.md
  Documentation/repo-org.png
Labels: none

Prepare the core.c for ae
  board/soc/core/core.c
  board/soc/core/ctrl.c
Labels: none

ip_64.v: on the TX path, use the same MAC addr
  board/fpga/top/lib/ip_64.v
Labels: none

Fix bug
  board/fpga/top/lib/ip_64.v
  board/fpga/top/lib/udp_complete_64.v
  board/fpga/top/rtl/fpga_core.v
Labels: none

Some changes made to make KVS work
  host/config.h
  host/net/core.c
  host/net/net.h
  host/net/raw_verbs.c
  host/scripts/test_kvs_simple.sh
  host/scripts/test_rw_presetup.sh
  host/scripts/test_ycsb.sh
  host/test/test_kvs_simple.c
  host/test/test_kvs_ycsb.c
  host/test/test_rw_presetup.c
  include/uapi/net_header.h
Labels: host_net, host

Add the DRF test file
  board/soc/core/drf.c
Labels: none

Fix soc core for KVS testing
  board/soc/core/core.h
  board/soc/core/ctrl.c
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/vm.c
Labels: none

Add KVS Caching related changes
  host/api_kvs.c
  host/test/test_kvs_simple.c
  host/test/test_kvs_ycsb.c
  include/uapi/net_header.h
Labels: host

Checkout the snic files from supernic branch
  host/api_kvs.c
  host/config.h
  host/net/core.c
  host/net/net.h
  host/net/raw_verbs.c
  host/scripts/test_kvs_simple.sh
  host/scripts/test_rw_presetup.sh
  host/scripts/test_ycsb.sh
  host/test/test_kvs_simple.c
  host/test/test_kvs_ycsb.c
  host/test/test_rw_presetup.c
Labels: host_net, host

Debug host test prog
  host/Makefile
  host/config.h
  host/main_host.c
  host/scripts/test_rw_presetup.sh
  host/test/test_rw_presetup.c
Labels: host

Update doc
  Documentation/asplos-ae.md
  Documentation/compile.md
Labels: none

Revert changes made for soc vm test
  board/soc/core/core.c
  board/soc/core/ctrl.c
  board/soc/core/drf.c
  board/soc/core/pgtable.c
  board/soc/core/pgtable.h
  board/soc/core/vm.c
Labels: none

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*
