Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

net/gbn: Fix unack buffer wrong start addr
  include/fpga/fpga_memory_map.h
  include/uapi/gbn.h
Labels: none

net/gbn: enlarge FPGA side retransmit TIMEOUT to 100s
  include/uapi/gbn.h
Labels: none

patches
  board/soc/core/core.c
  board/soc/core/ctrl.c
  board/soc/core/handler.c
  board/soc/core/pgtable.c
  board/soc/core/vm.c
  host/core.h
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/scripts/test_read.sh
  host/test/test_rw_multiboard.c
  include/uapi/thpool.h
Labels: host_net, host

host: batch ACK
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/scripts/test_read.sh
  host/test/test_rw_multiboard.c
Labels: host_net

host: patch kvs virt prepare
  board/soc/core/ctrl.c
Labels: none

soc: add prepare code for MV and KVS
  board/soc/core/ctrl.c
  board/soc/core/run.sh
  host/scripts/test_read.sh
  include/fpga/lego_mem_ctrl.h
Labels: none

host: patch 100G prepare
  board/soc/core/ctrl.c
Labels: none

soc: add 100G soc prepare func
  board/soc/core/ctrl.c
Labels: none

soc: update kvs alloc
  board/soc/core/ctrl.c
  board/soc/core/pgtable.c
  board/soc/core/run.sh
Labels: none

soc: prepare for virt kvs
  board/soc/core/core.h
  board/soc/core/ctrl.c
  board/soc/core/handler.c
Labels: none

soc: prepare for virt KVS
  board/soc/core/ctrl.c
Labels: none

soc: kvs-virt prepare done
  board/soc/core/ctrl.c
  board/soc/core/page_fifo.c
Labels: none

initial impl of YCSB client side, not fully done, won't compile
  host/Makefile
  host/api_kvs.c
  host/api_kvs.h
  host/ycsb_client.c
Labels: host

small changes
  host/api_kvs.h
  host/ycsb_client.c
Labels: host

fixes for legomem apis
  host/api.c
  host/net/raw_verbs.c
Labels: host_net, host

small changes
  host/api_kvs.h
  host/ycsb_client.c
Labels: host

tested parsing and running fake ycsb with 100K reqs
  host/ycsb_client.c
Labels: host

compile and change hash function
  host/api_kvs.c
  host/api_kvs.h
  host/ycsb_client.c
  include/uapi/opcode.h
Labels: host

adding legomem board, session, ctx setup and finding
  host/api_kvs.c
  host/api_kvs.h
  host/ycsb_client.c
Labels: host

tested parsing and running fake ycsb with 100K reqs
  host/ycsb_client.c
Labels: host

initial impl of YCSB client side, not fully done, won't compile
  host/api_kvs.c
  host/api_kvs.h
  host/ycsb_client.c
Labels: host

adding YCSB workload a-c, 10K reqs
  host/ycsb_client.c
Labels: host

add timing
  host/ycsb_client.c
Labels: host

revert some changes to master
  board/soc/core/vm.c
  host/api.c
  host/net/raw_verbs.c
Labels: host_net, host

small fixes for migration
  board/soc/core/vm.c
Labels: none

adding legomem board, session, ctx setup and finding
  host/api_kvs.c
  host/api_kvs.h
  host/ycsb_client.c
Labels: host

kvs_ycsb: fix
  board/soc/core/ctrl.c
  board/soc/core/page_fifo.c
  host/Makefile
  host/api_kvs.c
  host/core.h
  host/main_host.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/scripts/test_kvs_simple.sh
  host/scripts/test_ycsb.sh
  host/test/test_kvs_simple.c
  host/test/test_kvs_ycsb.c
  include/uapi/opcode_types.h
Labels: host_net, host

kvs: batch run ycsb workload
  board/soc/core/ctrl.c
  board/soc/core/page_fifo.c
  host/api_kvs.c
  host/core.h
  host/main_host.c
  host/net/core.c
  host/test/test_kvs_simple.c
  host/test/test_kvs_ycsb.c
  include/uapi/opcode.h
Labels: host_net, host

net: opt
  Makefile
  host/Makefile
  host/api.c
  host/api.h
  host/common.c
  host/core.h
  host/main_host.c
  host/main_monitor.c
  host/net/net.h
  host/net/raw_verbs.c
  host/net/transport_bypass.c
  host/net/transport_gbn.c
  host/scripts/test_read.sh
  host/session.c
  host/test/test_raw_net.c
  host/test/test_rel_net_mgmt.c
  host/test/test_rel_net_normal.c
  host/test/test_rw_inline.c
  host/test/test_rw_multiboard.c
  host/util.c
  include/uapi/net_session.h
Labels: host_net, host

host: add legomem_dist_barrier() api
  host/api.c
  host/api.h
  host/board.c
  host/common.c
  host/core.h
  host/main_host.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/test/test_rw_multiboard.c
  host/test/test_rw_same.c
  host/util.c
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: host_net, host

soc: fix alloc return check error
  board/soc/core/ctrl.c
  board/soc/core/vm.c
Labels: none

soc: fix alloc for multiversion
  board/soc/core/handler.c
Labels: none

host: add legomem_dist_barrier() api
  host/api.c
  host/api.h
  host/api_kvs.c
  host/net/transport_gbn.c
  host/scripts/test_kvs_simple.sh
  host/scripts/test_migration.sh
  host/scripts/test_read.sh
  host/scripts/test_ycsb.sh
  host/test.sh
  host/test/test_kvs_simple.c
  host/test/test_kvs_ycsb.c
  host/test/test_migration.c
  host/test/test_rw_multiboard.c
Labels: host_net, host

couple fixes for testing
  board/soc/core/ctrl.c
  board/soc/core/handler.c
  board/soc/core/run.sh
  host/api.c
  host/main_monitor.c
  host/test/test_rw_multiboard.c
Labels: host

Add all scala source code, inlcude legomem framework, Coremem and KV
  board/fpga/src/main/scala/wuklab/AxiStream.scala
  board/fpga/src/main/scala/wuklab/AxiStreamDMA.scala
  board/fpga/src/main/scala/wuklab/CoreMem.scala
  board/fpga/src/main/scala/wuklab/ExtendedProcessor.scala
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/LegoMemDMA.scala
  board/fpga/src/main/scala/wuklab/LegoMemMultiEndpoint.scala
  board/fpga/src/main/scala/wuklab/LegoMemSystem.scala
  board/fpga/src/main/scala/wuklab/LookupTable.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/NetworkAdapter.scala
  board/fpga/src/main/scala/wuklab/Replicator.scala
  board/fpga/src/main/scala/wuklab/Sequencer.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/Verification.scala
  board/fpga/src/main/scala/wuklab/kv/Allocator.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueController.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEndpoint.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEngine.scala
  board/fpga/src/main/scala/wuklab/kv/Misc.scala
  board/fpga/src/main/scala/wuklab/kv/Types.scala
  board/fpga/src/main/scala/wuklab/monitor/AxiSimpleDMA.scala
  board/fpga/src/main/scala/wuklab/monitor/AxiStreamProtocolChecker.scala
  board/fpga/src/main/scala/wuklab/monitor/MonitorRegisters.scala
  board/fpga/src/main/scala/wuklab/sim/Drivers.scala
  board/fpga/src/main/scala/wuklab/sim/Types.scala
  board/fpga/src/main/scala/wuklab/test/CoreMemDelayedSim.scala
  board/fpga/src/main/scala/wuklab/test/KeyValuePhysicalEndPointSim.scala
  board/fpga/src/main/scala/wuklab/test/KeyValueVirtualEndpointSim.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystem512Sim.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystemCtrlSim.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystemSim.scala
  board/fpga/src/main/scala/wuklab/test/NetworkProtocolCheckerSim.scala
  board/fpga/src/main/scala/wuklab/test/Simulation.scala
Labels: none

Add all scala source code, inlcude legomem framework, Coremem and KV
  board/fpga/src/main/scala/wuklab/AxiStream.scala
  board/fpga/src/main/scala/wuklab/AxiStreamDMA.scala
  board/fpga/src/main/scala/wuklab/CoreMem.scala
  board/fpga/src/main/scala/wuklab/ExtendedProcessor.scala
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/LegoMemDMA.scala
  board/fpga/src/main/scala/wuklab/LegoMemMultiEndpoint.scala
  board/fpga/src/main/scala/wuklab/LegoMemSystem.scala
  board/fpga/src/main/scala/wuklab/LookupTable.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/NetworkAdapter.scala
  board/fpga/src/main/scala/wuklab/Replicator.scala
  board/fpga/src/main/scala/wuklab/Sequencer.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/Verification.scala
  board/fpga/src/main/scala/wuklab/kv/Allocator.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueController.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEndpoint.scala
  board/fpga/src/main/scala/wuklab/kv/KeyValueEngine.scala
  board/fpga/src/main/scala/wuklab/kv/Misc.scala
  board/fpga/src/main/scala/wuklab/kv/Types.scala
  board/fpga/src/main/scala/wuklab/monitor/AxiSimpleDMA.scala
  board/fpga/src/main/scala/wuklab/monitor/AxiStreamProtocolChecker.scala
  board/fpga/src/main/scala/wuklab/monitor/MonitorRegisters.scala
  board/fpga/src/main/scala/wuklab/sim/Drivers.scala
  board/fpga/src/main/scala/wuklab/sim/Types.scala
  board/fpga/src/main/scala/wuklab/test/CoreMemDelayedSim.scala
  board/fpga/src/main/scala/wuklab/test/KeyValuePhysicalEndPointSim.scala
  board/fpga/src/main/scala/wuklab/test/KeyValueVirtualEndpointSim.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystem512Sim.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystemCtrlSim.scala
  board/fpga/src/main/scala/wuklab/test/LegoMemSystemSim.scala
  board/fpga/src/main/scala/wuklab/test/NetworkProtocolCheckerSim.scala
  board/fpga/src/main/scala/wuklab/test/Simulation.scala
Labels: none

Add legomem_system bd for release build
  board/fpga/top/scripts/legomem_system_release.tcl
Labels: none

soc: add the vm conflict testbench
  board/soc/core/page_fifo.c
  board/soc/core/test/test_vm_conflict.c
  board/soc/core/test/test_vm_latency.c
  board/soc/core/vm.c
Labels: none

Add migration acceleration module
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/LegoMemSystem.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/Replicator.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/test/CoreMemSim.scala
Labels: none

add ptr chasing api
  host/api.c
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: host

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*
