Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*

Add release toplevel bd
  board/fpga/ip.tar.gz
  board/fpga/top/Makefile
  board/fpga/top/scripts/run_vivado.tcl
Labels: board_fpga

service: add host side kvs apis
  host/Makefile
  host/api_kvs.c
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: host

host: update benchs
  host/scripts/test_read.sh
  host/test/test_memcpy.c
  host/test/test_rw_inline.c
  host/test/test_rw_same.c
Labels: none

service: add empty multiversion object file
  host/api_mv.c
Labels: host

test: add test bench for first access fault
  board/soc/core/buddy.c
  board/soc/core/buddy.h
  board/soc/core/core.c
  board/soc/core/core.h
  board/soc/core/ctrl.c
  board/soc/core/handler.c
  board/soc/core/page_fifo.c
  board/soc/core/pgtable.c
  board/soc/core/run.sh
  board/soc/core/tlbflush.c
  board/soc/core/vm.c
  host/Makefile
  host/api.c
  host/core.h
  host/main_host.c
  host/scripts/test_read.sh
  host/test/test_read_write.c
  host/test/test_rw_fault.c
  host/test/test_rw_seq.c
Labels: host

host: more fixes
  host/Makefile
  host/api.c
  host/core.h
  host/cpu.c
  host/main_host.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
  host/scripts/test_read.sh
  host/scripts/test_rel_net_normal.sh
  host/test/test_rw_inline.c
Labels: host_net, host

update util.c
  host/util.c
Labels: host

test: fix rw_inline read file
  host/Makefile
  host/scripts/test_read.sh
  host/test/test_migration.c
  host/test/test_rw_inline.c
Labels: host

host: update testbenchs
  host/Makefile
  host/api.c
  host/api.h
  host/core.h
  host/main_host.c
  host/scripts/test_read.sh
  host/test/test_rel_net_normal.c
  host/test/test_rw_inline.c
  host/test/test_rw_same.c
  host/test/test_rw_seq.c
Labels: host

fixes for legomem apis
  host/api.c
  host/api.h
  host/net/raw_verbs.c
Labels: host_net, host

host: update tlb miss measure bench
  host/test/test_rw_seq.c
Labels: none

host: patch alloc/free
  host/api.c
  host/core.h
  host/net/raw_verbs.c
  host/scripts/test_alloc_free.sh
  host/scripts/test_read.sh
  host/scripts/test_rel_net_normal.sh
  host/test/test_alloc.c
  host/test/test_read_write.c
  host/test/test_rel_net_normal.c
  include/uapi/net_session.h
Labels: host_net, host

monitor: add multiple boards by cmd line
  host/main_host.c
  host/main_monitor.c
  host/scripts/test_migration.sh
  host/test/test_migration.c
Labels: host

test: add test bench for seq rw
  host/Makefile
  host/api.c
  host/core.h
  host/main_host.c
  host/scripts/test_read.sh
  host/scripts/test_rel_net_normal.sh
  host/test/test_migration.c
  host/test/test_rw_seq.c
  include/uapi/tlb.h
Labels: host

small fixes for migration
  board/soc/core/core.c
  board/soc/core/handler.c
  board/soc/core/pgtable.c
  board/soc/core/vm.c
Labels: none

host: update testbench
  host/scripts/test_read.sh
  host/scripts/test_rel_net_mgmt.sh
  host/scripts/test_rel_net_normal.sh
  host/test/test_rel_net_mgmt.c
  host/test/test_rel_net_normal.c
  host/test/test_rw_fault.c
  host/test/test_rw_same.c
  host/test/test_rw_seq.c
Labels: none

host: add find_board_by_id() api
  host/board.c
  host/core.h
  host/main_monitor.c
  host/scripts/test_read.sh
  host/session.c
  host/test/test_rel_net_mgmt.c
  include/uapi/sched.h
Labels: host

test: rename seq to tlb
  host/Makefile
  host/core.h
  host/main_host.c
  host/scripts/test_read.sh
  host/test/test_rw_fault.c
  host/test/test_rw_same.c
  host/test/test_rw_tlb.c
Labels: host

monitor: handle alloc rr
  host/main_monitor.c
  host/scripts/test_read.sh
Labels: host

[FIX] merge API, change ext_ep directory structure
  board/fpga/ext_ep/deref_ptr/Makefile
  board/fpga/ext_ep/deref_ptr/deref_ptr.cpp
  board/fpga/ext_ep/deref_ptr/deref_ptr.h
  board/fpga/ext_ep/deref_ptr/deref_ptr_tb.cpp
  board/fpga/ext_ep/deref_ptr/run_hls.tcl
  board/fpga/ext_ep/ext_ep.h
  board/fpga/ext_ep/ext_ep_api.h
  board/fpga/ext_ep/include/ext_ep.h
  board/fpga/ext_ep/include/fifo.h
  include/uapi/lego_mem.h
  include/uapi/net_header.h
  include/uapi/opcode.h
  include/uapi/opcode_types.h
  include/uapi/stat.h
Labels: none

[ADD] multiversion datastore host api
  host/api_mv.c
  include/uapi/opcode.h
  include/uapi/vregion.h
Labels: host

[FIX] add FIFO struct, keep II=1 w/o core_mem cooperation
  board/fpga/ext_ep/ext_ep.cpp
  board/fpga/ext_ep/ext_ep.h
Labels: none

[ADD] extended api endpoint, II=2
  board/fpga/ext_ep/Makefile
  board/fpga/ext_ep/ext_ep.cpp
  board/fpga/ext_ep/ext_ep.h
  board/fpga/ext_ep/ext_ep_api.h
  board/fpga/ext_ep/ext_ep_tb.cpp
  board/fpga/ext_ep/run_hls.tcl
  board/fpga/ext_ep/waitqueue.cpp
Labels: none

[FIX] change multiversion export IP name
  board/fpga/ext_ep/multi_ver_obj/run_hls.tcl
Labels: none

[FIX] change allocation to use endpoint pid
  board/fpga/ext_ep/include/tb_sim.h
  board/fpga/ext_ep/multi_ver_obj/dispatcher.cpp
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj.h
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_ops.h
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_tb.cpp
  board/fpga/ext_ep/multi_ver_obj/parser.cpp
  board/fpga/ext_ep/multi_ver_obj/sendqueue.cpp
  board/fpga/ext_ep/multi_ver_obj/waitqueue1.cpp
  board/fpga/ext_ep/tb/mem_sim.cpp
  board/fpga/ext_ep/tb/net_sim.cpp
  board/fpga/ext_ep/tb/soc_sim.cpp
Labels: none

[FIX] remove toplevel ctrl interface
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj.cpp
Labels: none

[FIX] improve extended API design to II=1
  board/fpga/ext_ep/ext_ep.cpp
  board/fpga/ext_ep/ext_ep.h
  board/fpga/ext_ep/ext_ep_api.h
  board/fpga/ext_ep/ext_ep_tb.cpp
  board/fpga/ext_ep/run_hls.tcl
  board/fpga/ext_ep/waitqueue.cpp
Labels: none

[FIX] allow version index to wrap around
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_config.h
  board/fpga/ext_ep/multi_ver_obj/parser.cpp
  board/fpga/ext_ep/multi_ver_obj/versions.cpp
Labels: none

[ADD] multiversion data store, pass synthetic cosim
  board/fpga/ext_ep/deref_ptr/deref_ptr.cpp
  board/fpga/ext_ep/deref_ptr/deref_ptr.h
  board/fpga/ext_ep/include/ext_ep.h
  board/fpga/ext_ep/include/ext_ep_types.h
  board/fpga/ext_ep/include/fifo.h
  board/fpga/ext_ep/include/pattern_generator.h
  board/fpga/ext_ep/include/tb_sim.h
  board/fpga/ext_ep/multi_ver_obj/Makefile
  board/fpga/ext_ep/multi_ver_obj/dispatcher.cpp
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj.cpp
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj.h
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_bramdata.h
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_config.h
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_ops.h
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_tb.cpp
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_tb.h
  board/fpga/ext_ep/multi_ver_obj/parser.cpp
  board/fpga/ext_ep/multi_ver_obj/run_hls.tcl
  board/fpga/ext_ep/multi_ver_obj/sendqueue.cpp
  board/fpga/ext_ep/multi_ver_obj/versions.cpp
  board/fpga/ext_ep/multi_ver_obj/versions_tb.cpp
  board/fpga/ext_ep/multi_ver_obj/waitqueue1.cpp
  board/fpga/ext_ep/multi_ver_obj/waitqueue2.cpp
  board/fpga/ext_ep/tb/mem_sim.cpp
  board/fpga/ext_ep/tb/net_sim.cpp
  board/fpga/ext_ep/tb/pattern_generator.cpp
  board/fpga/ext_ep/tb/soc_sim.cpp
  board/fpga/ext_ep/tb/xbar_sim.cpp
  include/fpga/compiler.h
  include/fpga/lego_mem_ctrl.h
  include/uapi/opcode.h
  include/uapi/opcode_types.h
Labels: none

[ADD] multiversion object microbenchmark
  host/Makefile
  host/api.h
  host/api_mv.c
  host/core.h
  host/main_host.c
  host/scripts/verobj_pattern_generator.py
  host/test/test_multiver_obj.c
Labels: host

[FIX] add TLAST signal on axis interface
  board/fpga/ext_ep/deref_ptr/deref_ptr.h
  board/fpga/ext_ep/include/ext_ep.h
  board/fpga/ext_ep/include/tb_sim.h
  board/fpga/ext_ep/multi_ver_obj/dispatcher.cpp
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj.cpp
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj.h
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_tb.cpp
  board/fpga/ext_ep/multi_ver_obj/run_hls.tcl
  board/fpga/ext_ep/multi_ver_obj/sendqueue.cpp
  board/fpga/ext_ep/tb/mem_sim.cpp
  board/fpga/ext_ep/tb/net_sim.cpp
  board/fpga/ext_ep/tb/soc_sim.cpp
  board/fpga/ext_ep/tb/xbar_sim.cpp
Labels: none

[ADD] multiversion microbenchmark script
  host/scripts/test_multiver_obj.sh
Labels: none

[FIX] reduce the timing budget
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_config.h
  board/fpga/ext_ep/multi_ver_obj/run_hls.tcl
Labels: none

net: improve verbs
  host/Makefile
  host/core.h
  host/main_host.c
  host/net/net.h
  host/net/raw_verbs.c
  host/scripts/test_read.sh
  host/test/test_rel_net_mgmt.c
  host/test/test_rel_net_normal.c
  host/test/test_rw_multiboard.c
Labels: host_net, host

test: update multiboard test
  host/test/test_rw_multiboard.c
Labels: none

fix opcode
  board/fpga/ext_ep/include/ext_ep.h
  board/fpga/ext_ep/multi_ver_obj/multi_ver_obj_config.h
  include/uapi/opcode_types.h
Labels: none

host: misc fixes
  board/soc/core/page_fifo.c
  host/board.c
  host/main_monitor.c
  host/net/raw_verbs.c
  host/scripts/test_rel_net_mgmt.sh
  host/scripts/test_rel_net_normal.sh
Labels: host_net, host

soc: add special alloc for multiver
  board/soc/core/core.h
  board/soc/core/ctrl.c
  board/soc/core/handler.c
Labels: none

net: Periodically ack received packet
  board/fpga/net_reliable/state_table/statetable_64_top.cpp
  board/fpga/top/rtl/tb/tb_tx.sv
  include/uapi/gbn.h
Labels: none

net: add comments for FPGA side delayed ACK generation
  board/fpga/net_reliable/state_table/statetable_64_top.cpp
  include/uapi/gbn.h
Labels: none
