Repository WukLab/Clio, changes with the labels that .github/labeler.yml gives for each.
All labels: host_net, host, monitor, board_fpga, board_soc

.github/labeler.yml:

# Details: https://github.com/actions/labeler/blob/master/README.md

host_net:
 - host/net/*

host:
 - host/*

monitor:
 - monitor/*

board_fpga:
 - board/fpga/*

board_soc:
 - board/soc/*

add example
  host/test/test_pointer_chasing.c
Labels: none

Add CN code for pointer chasing
  board/soc/core/ctrl.c
  board/soc/core/handler.c
  board/soc/core/run.sh
  board/soc/core/vm.c
  host/Makefile
  host/api.c
  host/api.h
  host/core.h
  host/main_host.c
  host/scripts/test_pointer_chasing.sh
  host/test/test_pointer_chasing.c
  include/uapi/opcode.h
Labels: host

update pointer chasing module
  board/fpga/src/main/scala/wuklab/ExtendedApi.scala
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/src/main/scala/wuklab/Sequencer.scala
  board/fpga/src/main/scala/wuklab/Types.scala
  board/fpga/src/main/scala/wuklab/Utils.scala
  board/fpga/src/main/scala/wuklab/sim/Types.scala
  board/fpga/src/main/scala/wuklab/test/PointerChasingEndpointSim.scala
Labels: none

net: disable checksum gen in udp stack
  board/fpga/top/rtl/fpga_core.v
Labels: none

net: add bd script w/o relnet
  board/fpga/top/scripts/legomem_system_no_relnet.tcl
Labels: none

net: add rpc network stack framework
  host/Makefile
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/net/core.c
  host/net/transport_rpc.c
  include/uapi/net_header.h
  include/uapi/opcode.h
Labels: host_net, host

net: rm contacting board for open session
  host/api.c
Labels: host

net: reset udp length in fpga_core
  board/fpga/top/rtl/fpga.v
  board/fpga/top/rtl/fpga_core.v
Labels: none

net: add broadcast filter
  board/fpga/net_reliable/broadcast_filter/Makefile
  board/fpga/net_reliable/broadcast_filter/filter_64.hpp
  board/fpga/net_reliable/broadcast_filter/filter_64_top.cpp
  board/fpga/net_reliable/broadcast_filter/run_hls.tcl
  board/fpga/top/scripts/legomem_system_no_relnet.tcl
  board/soc/core/run.sh
Labels: none

Fix compiler warning + change config name
  host/api.c
  host/config.h
  host/core.h
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/net/core.c
Labels: host_net, host

net: remove global recv credit
  host/net/transport_rpc.c
Labels: host_net

net: add congestion control policy
  host/net/transport_rpc.c
Labels: host_net

net: rm contacting board for open session
  host/api.c
  host/main_host.c
  include/uapi/net_session.h
Labels: host

net: add rpc network stack framework
  host/Makefile
  host/main_board.c
  host/main_host.c
  host/main_monitor.c
  host/net/core.c
  host/net/transport_rpc.c
  include/uapi/net_header.h
  include/uapi/opcode.h
Labels: host_net, host

Add mfence, rfence and mfence
  host/api.c
  host/core.h
  include/uapi/compiler.h
  include/uapi/net_session.h
Labels: host

add dependency tracking facility, still WIP
  host/Makefile
  host/api.c
  host/core.h
  host/memory_model.c
  host/test/test_soc.c
  include/uapi/compiler.h
  include/uapi/net_session.h
  include/uapi/page.h
  include/uapi/vregion.h
Labels: host

add dependency set/clear
  host/api.c
  host/core.h
  host/memory_model.c
Labels: host

Port bitmap ops from LegoOS
  host/Makefile
  host/lib/bitmap.c
  include/uapi/bitmap.h
  include/uapi/compiler.h
Labels: host

Add more tuning configurations
  host/api.c
  host/config.h
  host/memory_model.c
  host/net/raw_verbs.c
  host/net/transport_gbn.c
Labels: host_net, host

Add rw_presetup test
  host/Makefile
  host/config.h
  host/core.h
  host/main_host.c
  host/net/core.c
  host/net/raw_verbs.c
  host/net/transport_rpc.c
  host/scripts/test_rw_presetup.sh
  host/test/test_rw_presetup.c
Labels: host_net, host

enable hugepage again
  host/net/raw_verbs.c
  host/prepare.sh
  host/test/test_rw_presetup.c
Labels: host_net, host

Add MR testbench
  host/Makefile
  host/test/test_rdma_mr.c
Labels: host

copy from zhiyuan rmem
  host/test/jpeg/Makefile
  host/test/jpeg/README.md
  host/test/jpeg/arrayclient.c
  host/test/jpeg/arrayserver.c
  host/test/jpeg/client.c
  host/test/jpeg/common.c
  host/test/jpeg/config.c
  host/test/jpeg/data/cat.jpg
  host/test/jpeg/net-nng.c
  host/test/jpeg/net.c
  host/test/jpeg/rarray.c
  host/test/jpeg/rarray.h
  host/test/jpeg/rmem-legomem.c
  host/test/jpeg/rmem-rdma.c
  host/test/jpeg/rmem.h
  host/test/jpeg/test.h
Labels: none

Update
  host/test/jpeg/arrayclient.c
  host/test/jpeg/rarray.c
  host/test/jpeg/rmem-legomem.c
Labels: none

patch
  host/Makefile
  host/core.h
  host/main_host.c
  host/test/jpeg/Makefile
  host/test/jpeg/arrayclient.c
  host/test/jpeg/common.c
  host/test/jpeg/rmem-legomem.c
Labels: host

add script
  host/scripts/test_jpeg.sh
  host/test/jpeg/arrayclient.c
  host/test/jpeg/rmem-legomem.c
Labels: none

Patch
  host/api.c
  host/config.h
  host/net/core.c
  host/net/transport_rpc.c
  host/scripts/test_jpeg.sh
  host/test/jpeg/rmem-legomem.c
  include/uapi/net_header.h
Labels: host_net, host

patch
  host/core.h
  host/net/raw_verbs.c
  host/net/transport_rpc.c
  host/test/jpeg/rmem-legomem.c
Labels: host_net, host

patch
  host/api.c
  host/net/transport_rpc.c
  host/test/jpeg/arrayclient.c
  host/test/jpeg/rarray.c
  host/test/jpeg/rarray.h
  host/test/jpeg/rmem-legomem.c
  host/test/jpeg/rmem.h
  host/test/test_rw_presetup.c
Labels: host_net, host

add soc side pte test setup code
  board/soc/core/core.h
  board/soc/core/ctrl.c
  board/soc/core/handler.c
  board/soc/core/pgtable.c
  board/soc/core/run.sh
  board/soc/core/vm.c
  include/uapi/compiler.h
  include/uapi/opcode.h
Labels: none

patch
  host/Makefile
  host/api.c
  host/config.h
  host/core.h
  host/net/net.h
  host/net/transport_rpc.c
  host/scripts/test_conn.sh
  host/test/jpeg/arrayclient.c
  host/test/jpeg/config.c
  host/test/jpeg/rarray.c
  host/test/jpeg/rarray.h
  host/test/jpeg/rmem-legomem.c
  host/test/jpeg/rmem.h
  host/test/test_conn.c
  host/test/test_rw_presetup.c
Labels: host_net, host

update'
  host/test/test_rw_presetup.c
Labels: none

Update
  host/api.c
  host/config.h
  host/core.h
  host/test/jpeg/arrayclient.c
  host/test/jpeg/rmem-legomem.c
  host/test/test_kvs_ycsb.c
  host/test/test_rw_presetup.c
Labels: host

add data frame
  host/test/test_data_frame.c
Labels: none

asd
  host/Makefile
  host/core.h
  host/main_host.c
  host/scripts/test_data_frame.sh
  host/test/jpeg/arrayclient.c
  host/test/test_data_frame.c
Labels: host

as
  host/api.c
  host/net/net.h
  host/test/test_data_frame.c
Labels: host_net, host

asd
  board/soc/core/ctrl.c
Labels: none

patch: largemem cdf
  host/scripts/test_rw_presetup.sh
  host/test/test_rw_presetup.c
Labels: none

Add legomem diagram
  Documentation/legomem_system.pdf
  legomem_system.pdf
Labels: none

Add fpga build flow
  board/fpga/.gitignore
  board/fpga/Makefile
  board/fpga/net_reliable/generate_hls.sh
  board/fpga/package_ip.tcl
  board/fpga/scripts/create_ip.tcl
  board/fpga/scripts/create_monitor.tcl
  board/fpga/scripts/create_pingpong.tcl
  board/fpga/scripts/create_system.tcl
  board/fpga/src/main/scala/wuklab/Generate.scala
  board/fpga/src/main/scala/wuklab/MemoryAccess.scala
  board/fpga/top/Makefile
  board/fpga/top/scripts/run_vivado.tcl
Labels: board_fpga
